# Environments
venv/
env/
.env

# Test Files
test_gsheet.py

# Mac system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Sensitive files and profiles
service_account.json
fb_cookies.json
ig_cookies.json
chrome_profile/
chrome_profile_ig/
app.db