# Environments
venv/
env/
.env

# Google Cloud & Sheets Service Accounts
service_account.json

# Cookies and Browser sessions
facebook_cookies.json
chrome_profile/
chrome_profile_ig/
chrome_profile_th/
chrome_profile_x/
chromedriver_fb
chromedriver_ig
chromedriver_th
chromedriver_x
chromedriver

# Test Files
test_gsheet.py

# Mac system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class
